.el-icon-loading:before {
  content:"\e6cf"
}
[class*="el-icon-"], [class^=el-icon-] {
  font-family: element-icons !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.c-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #DCDFE6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  &:hover, &:focus {
    color: #409EFF;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
  }
  &:active {
    color: #3a8ee6;
    border-color: #3a8ee6;
    outline: none;
  }
  &.is-plain:hover, &.is-plain:focus {
    background: #FFFFFF;
    border-color: #409EFF;
    color: #409EFF;
  }
  &.is-round {
    border-radius: 20px;
    padding: 12px 23px;
  }
  &.is-circle {
    border-radius: 50%;
    padding: 12px;
  }
  &.is-disabled, &.is-disabled:hover, &.is-disabled:focus {
    color: #C0C4CC;
    cursor: not-allowed;
    background-image: none;
    background-color: #FFFFFF;
    border-color: #EBEEF5;
  }
  & [class*=el-icon-]+span {
    margin-left: 5px;
  }
  &.is-loading {
    position: relative;
    pointer-events: none;
  }
  &.is-loading:before {
    pointer-events: none;
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: inherit;
    background-color: hsla(0,0%,100%,.35);
  }
}
.c-button--primary {
  color: #FFFFFF;
  background-color: #409EFF;
  border-color: #409EFF;
  &:hover, &:focus {
    background: #66b1ff;
    border-color: #66b1ff;
    color: #FFFFFF;
  }
  &.is-plain {
    color: #409EFF;
    background: #ecf5ff;
    border-color: #b3d8ff;
  }
  &.is-plain:hover, &.is-plain:focus {
    background: #409EFF;
    border-color: #409EFF;
    color: #FFFFFF;
  }
  &.is-disabled, &.is-disabled:hover, &.is-disabled:focus, &.is-disabled:active {
    color: #FFFFFF;
    background-color: #a0cfff;
    border-color: #a0cfff;
  }
}
.c-button--success {
  color: #FFFFFF;
  background-color: #67C23A;
  border-color: #67C23A;
  &:hover, &:focus {
    background: #85ce61;
    border-color: #85ce61;
    color: #FFFFFF;
  }
  &.is-plain {
    color: #67C23A;
    background: #f0f9eb;
    border-color: #c2e7b0;
  }
  &.is-plain:hover, &.is-plain:focus {
    background: #67C23A;
    border-color: #67C23A;
    color: #FFFFFF;
  }
  &.is-disabled, &.is-disabled:hover, &.is-disabled:focus, &.is-disabled:active {
    color: #a4da89;
    background-color: #f0f9eb;
    border-color: #e1f3d8;
  }
}
.c-button--info {
  color: #FFFFFF;
  background-color: #909399;
  border-color: #909399;
  &:hover, &:focus {
    background: #a6a9ad;
    border-color: #a6a9ad;
    color: #FFFFFF;
  }
  &.is-plain {
    color: #909399;
    background: #f4f4f5;
    border-color: #d3d4d6;
  }
  &.is-plain:hover, &.is-plain:focus {
    background: #a6a9ad;
    border-color: #a6a9ad;
    color: #FFFFFF;
  }
  &.is-disabled, &.is-disabled:hover, &.is-disabled:focus, &.is-disabled:active {
    color: #bcbec2;
    background-color: #f4f4f5;
    border-color: #e9e9eb;
  }
}
.c-button--warning {
  color: #FFFFFF;
  background-color: #E6A23C;
  border-color: #E6A23C;
  &:hover, &:focus {
    background: #ebb563;
    border-color: #ebb563;
    color: #FFFFFF;
  }
  &.is-plain {
    color: #E6A23C;
    background: #fdf6ec;
    border-color: #f5dab1;
  }
  &.is-plain:hover, &.is-plain:focus {
    background: #ebb563;
    border-color: #ebb563;
    color: #FFFFFF;
  }
  &.is-disabled, &.is-disabled:hover, &.is-disabled:focus, &.is-disabled:active {
    color: #f0c78a;
    background-color: #fdf6ec;
    border-color: #faecd8;
  }
}
.c-button--danger {
  color: #FFFFFF;
  background-color: #F56C6C;
  border-color: #F56C6C;
  &:hover, &:focus {
    background: #f78989;
    border-color: #f78989;
    color: #FFFFFF;
  }
  &.is-plain {
    color: #F56C6C;
    background: #fef0f0;
    border-color: #fbc4c4;
  }
  &.is-plain:hover, &.is-plain:focus {
    background: #f78989;
    border-color: #f78989;
    color: #FFFFFF;
  }
  &.is-disabled, &.is-disabled:hover, &.is-disabled:focus, &.is-disabled:active {
    color: #f9a7a7;
    background-color: #fef0f0;
    border-color: #fde2e2;
  }
}
.el-button--default {
}
.c-button--text {
  border-color: transparent;
  color: #409EFF;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  &:hover, &:focus {
    color: #66b1ff;
    border-color: transparent;
    background-color: transparent;
  }
  &.is-disabled, &.is-disabled:hover, &.is-disabled:focus {
    border-color: transparent;
  }
}
.el-icon-loading {
  animation: rotating 2s linear infinite !important;
}
.c-button--medium {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.c-button--small {
  padding: 9px 15px;
  font-size: 12px;
  border-radius: 3px;
}
.c-button--mini {
  padding: 7px 15px;
  font-size: 12px;
  border-radius: 3px;
}
